<p class="mini-border">Chat</p>

<div class="chat-container">
  <div class="big-border">
    <p class="text-notes-bold">Ask about this note</p>
    <button (click)="sendToAI()" [disabled]="isLoading">
      {{ isLoading ? 'Завантаження...' : 'Summarize this note' }}
    </button>
    <div *ngIf="aiResponse" class="response">
      <p><strong>Результат:</strong></p>
      <p>{{ aiResponse }}</p>
    </div>
  </div>

  <div class="textarea-wrapper">
    <textarea
      [(ngModel)]="userMessage"
      placeholder="Встав сюди текст лекції"
    ></textarea>
  </div>
</div>
