.mini-border {
  border-bottom: 2px solid black;
  padding: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.big-border {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: white;
}
